<form class="{{cssClass}} flex-col" autocomplete="off">
  <header class="sheet-header flex-row">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-details flex-col">
      <div class="flex-row">
        <h1>
          <input type="name" value="{{item.name}}" placeholder="{{ localize 'WonderSystem.ClassName' }}" name="name" class="item-input">
        </h1>
  
        <div class="item-subtitle">
          <h4 class="item-type">{{itemType}}</h4>
          <span class="item-status">{{itemStatus}}</span>
        </div>
      </div>
      {{log 'config' config}}
      {{log 'item' item}}
      <ul class="summary flex-row">
        <li>
          <input type="text" name="data.source" value="{{data.data.source}}" placeholder="{{ localize 'WonderSystem.Source' }}">
        </li>
      </ul>
    </div>
  </header>

  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "WonderSystem.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "WonderSystem.Details" }}</a>
    <a class="item" data-tab="advancement">{{localize "WonderSystem.AdvancementTitle"}}</a>
  </nav>

  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab flexrow active" data-group="primary" data-tab="description">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">

      {{!-- Identifier --}}
      <div class="form-group">
        <label>{{ localize "WonderSystem.Identifier" }}</label>
        <div class="form-fields">
          <input type="text" name="data.identifier" value="{{data.data.identifier}}">
        </div>
        <p class="hint">
          {{{localize "WonderSystem.ClassIdentifierHint" identifier=data.data.identifier}}}
        </p>
      </div>

      {{!-- Class Hit Dice --}}
      <div class="form-group">
        <label>{{localize "WonderSystem.HitDice"}}</label>
        <div class="form-fields">
          <select name="data.hitDice">
            {{#select data.data.hitDice}}
              {{#each config.hitDieTypes}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>{{localize "WonderSystem.HitDiceUsed"}}</label>
        <div class="form-fields">
          <input type="text" placeholder="0" name="data.hitDiceUsed" value="{{data.data.hitDiceUsed}}" data-dtype="Number"/>
        </div>
      </div>

      {{!-- Spellcasting --}}
      <h3 class="form-header">{{localize "WonderSystem.Spellcasting"}}</h3>
      {{> "systems/wondershade/templates/sheets/items/partials/item-spellcasting.hbs"}}

      {{!-- Proficiencies --}}
      <h3 class="form-header">{{localize "WonderSystem.Proficiency"}}</h3>
      <div class="form-group">
        <label>
          {{ localize "WonderSystem.ClassSaves" }}
          {{#if editable}}
            <a class="trait-selector class-saves" data-target="data.saves" data-options="saves">
              <i class="fas fa-edit"></i>
            </a>
          {{/if}}
        </label>
        <div class="form-fields">
          <ul class="traits-list">
            {{#each data.data.saves}}
              <li class="tag {{this}}">{{lookup ../config.abilities this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>

      {{!-- Level 1 skills --}}
      <div class="form-group">
        <label>{{localize "WonderSystem.ClassSkillsNumber"}}</label>
        <div class="form-fields">
          <input type="text" placeholder="0" name="data.skills.number" value="{{data.data.skills.number}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="form-group">
        <label>
          {{localize "WonderSystem.ClassSkillsEligible"}}
          {{#if editable }}
            <a class="trait-selector class-skills" data-target="data.skills.choices" data-options="skills.choices">
                <i class="fas fa-edit"></i>
            </a>
          {{/if}}
        </label>
        <div class="form-fields">
          <ul class="traits-list">
            {{#each data.data.skills.choices}}
              <li class="tag {{this}}">{{lookup ../config.skills this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>

      <div class="form-group">
        <label>
          {{localize "WonderSystem.ClassSkillsChosen"}}
          {{#if editable }}
            <a class="trait-selector class-skills" data-target="data.skills" data-options="skills">
              <i class="fas fa-edit"></i>
            </a>
          {{/if}}
        </label>
        <div class="form-fields">
          <ul class="traits-list">
            {{#each data.data.skills.value}}
                <li class="tag {{this}}">{{lookup ../config.skills this}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    {{!-- Advancement Tab --}}
    {{> "systems/wondershade/templates/sheets/items/partials/item-advancement.hbs"}}

  </section>
</form>
