<form class="{{cssClass}} flex-col" autocomplete="off">
  <header class="sheet-header flex-row">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-details flex-col">
      <div class="flex-row">
        <h1>
          <input type="name" value="{{item.name}}" placeholder="{{ localize 'WonderSystem.ItemName' }}" name="name" class="item-input">
        </h1>
  
        <div class="item-subtitle">
          <h4 class="item-type">{{itemType}}</h4>
          <span class="item-status">{{itemStatus}}</span>
        </div>
      </div>
      {{log 'config' config}}
      {{log 'item' item}}
      <ul class="summary flex-row">
        <li>
          {{labels.featType}}
        </li>
        <li>
          <input type="text" name="data.requirements" value="{{data.data.requirements}}" placeholder="{{ localize 'WonderSystem.Requirements' }}"/>
        </li>
        <li>
          <input type="text" name="data.source" value="{{data.data.source}}" placeholder="{{ localize 'WonderSystem.Source' }}">
        </li>
      </ul>
    </div>
  </header>

  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "WonderSystem.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "WonderSystem.Details" }}</a>
    <a class="item" data-tab="effects">{{ localize "WonderSystem.Effects" }}</a>
  </nav>

  <section class="sheet-body">

    {{!-- Description --}}
    {{> 'systems/wondershade/templates/sheets/items/partials/item-description.hbs'}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{ localize "WonderSystem.FeatureUsage" }}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/wondershade/templates/sheets/items/partials/item-activation.hbs"}}

      {{!-- Recharge Requirement --}}
      {{#if data.data.activation.type}}
      <div class="form-group recharge">
          <label>{{ localize "WonderSystem.FeatureActionRecharge" }}</label>
          <div class="form-fields">
            <span>{{ localize "WonderSystem.FeatureRechargeOn" }}</span>
            <input type="text" name="data.recharge.value" value="{{data.data.recharge.value}}" data-dtype="Number" placeholder="{{ localize 'WonderSystem.FeatureRechargeResult' }}"/>
            <label class="checkbox">
              {{ localize "WonderSystem.Charged" }}
              <input type="checkbox" name="data.recharge.charged" {{checked data.data.recharge.charged}}/>
            </label>
          </div>
      </div>
      {{/if}}

      <h3 class="form-header">{{ localize "WonderSystem.FeatureAttack" }}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/wondershade/templates/sheets/items/partials/item-action.hbs"}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/wondershade/templates/sheets/actors/partials/active-effects.hbs"}}
    </div>

  </section>
</form>
