<form class="{{cssClass}} flex-col" autocomplete="off">
  <header class="sheet-header flex-row">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-details flex-col">
      <div class="flex-row">
        <h1>
          <input type="name" value="{{item.name}}" placeholder="{{ localize 'WonderSystem.SpellName' }}" name="name" class="item-input">
        </h1>
  
        <div class="item-subtitle">
          <h4 class="item-type">{{itemType}}</h4>
          <span class="item-status">{{itemStatus}}</span>
        </div>
      </div>
      {{log '[SpellSheet] -> this' this}}
      <ul class="summary flex-row">
        <li>
          {{item.labels.level}}
        </li>

        <li>
          {{item.labels.school}}
        </li>

        <li>
          <input type="text" name="data.source" value="{{data.source}}" placeholder="{{ localize 'WonderSystem.Source' }}">
        </li>
      </ul>
    </div>
  </header>

  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "WonderSystem.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "WonderSystem.Details" }}</a>
    <a class="item" data-tab="effects">{{ localize "WonderSystem.Effects" }}</a>
  </nav>

  <section class="sheet-body">

    {{!-- Description --}}
    <div class="tab flexrow active" data-group="primary" data-tab="description">
      <div class="item-properties">
        {{#if isPhysical}}
          <div class="form-group">
            <label>{{ localize "WonderSystem.Quantity" }}</label>
            <input type="text" name="data.quantity" value="{{data.data.quantity}}" data-dtype="Number"/>
          </div>

          

          <div class="form-group">
            <label>{{ localize "WonderSystem.Weight" }}</label>
            <input type="text" name="data.weight" value="{{data.data.weight}}" data-dtype="Number"/>
          </div>

          <div class="form-group">
            <label>{{ localize "WonderSystem.Price" }}</label>
            <input type="text" name="data.price" value="{{data.data.price}}" />
          </div>
        {{/if}}

        <ol class="properties-list">
          {{#each itemProperties}}
            <li>{{this}}</li>
          {{/each}}
        </ol>
      </div>

        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
    {{log 'data-description' data}}
          {{log '[ItemDescription] -> this' this}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{ localize 'WonderSystem.SpellDetails' }}</h3>

      {{!-- Spell Level --}}
      <div class="form-group">
        <label>{{ localize 'WonderSystem.SpellLevel' }}</label>
        <select name="data.level" data-dtype="Number">
          {{#select data.data.level}}
            {{#each config.spellLevels as |name lvl|}}
              <option value="{{lvl}}">{{name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Spell School --}}
      <div class="form-group">
        <label>{{ localize "WonderSystem.SpellSchool" }}</label>
        <select name="data.school">
          {{#select data.data.school}}
            {{#each config.spellSchools as |name sch|}}
              <option value="{{sch}}">{{name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Spell Components --}}
      <div class="spell-components form-group stacked">
        <label>{{ localize "WonderSystem.SpellComponents" }}</label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.vocal" {{checked data.data.components.vocal}}/> {{ localize "WonderSystem.ComponentVerbal" }}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.somatic" {{checked data.data.components.somatic}}/> {{ localize "WonderSystem.ComponentSomatic" }}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.material" {{checked data.data.components.material}}/> {{ localize "WonderSystem.ComponentMaterial" }}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.concentration" {{checked data.data.components.concentration}}/> {{ localize "WonderSystem.Concentration" }}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.components.ritual" {{checked data.data.components.ritual}}/> {{ localize "WonderSystem.Ritual" }}
        </label>
      </div>

    </div>
  </section>
</form>
