<form class="{{cssClass}} flex-col" autocomplete="off">
  <header class="sheet-header flex-row">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-details flex-col">
      <div class="flex-row">
        <h1>
          <input type="name" value="{{item.name}}" placeholder="{{ localize 'WonderSystem.SpellName' }}" name="name" class="item-input">
        </h1>
  
        <div class="item-subtitle">
          <h4 class="item-type">{{itemType}}</h4>
          <span class="item-status">{{itemStatus}}</span>
        </div>
      </div>
      {{!-- {{log '[SpellSheet] -> this' this}} --}}
      <ul class="summary flex-row">
        <li>
          {{item.labels.level}}
        </li>

        <li>
          {{item.labels.school}}
        </li>

        <li>
          <input type="text" name="data.source" value="{{data.data.source}}" placeholder="{{ localize 'WonderSystem.Source' }}">
        </li>
      </ul>
    </div>
  </header>

  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item active" data-tab="description">{{ localize "WonderSystem.Description" }}</a>
    <a class="item" data-tab="details">{{ localize "WonderSystem.Details" }}</a>
    <a class="item" data-tab="effects">{{ localize "WonderSystem.Effects" }}</a>
  </nav>

  <section class="sheet-body">

    {{!-- Description --}}
    <div class="tab flexrow active" data-group="primary" data-tab="description">
      <div class="item-properties">
        {{#if isPhysical}}
          <div class="form-group">
            <label>{{ localize "WonderSystem.Quantity" }}</label>
            <input type="text" name="data.quantity" value="{{data.data.quantity}}" data-dtype="Number"/>
          </div>

          <div class="form-group">
            <label>{{ localize "WonderSystem.Weight" }}</label>
            <input type="text" name="data.weight" value="{{data.data.weight}}" data-dtype="Number"/>
          </div>

          <div class="form-group">
            <label>{{ localize "WonderSystem.Price" }}</label>
            <input type="text" name="data.price" value="{{data.data.price}}" />
          </div>
        {{/if}}

        <ol class="properties-list">
          {{#each itemProperties}}
            <li>{{this}}</li>
          {{/each}}
        </ol>
      </div>

        {{editor content=data.data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>
    {{!-- {{log 'data-description' data}}
          {{log '[ItemDescription] -> this' this}} --}}

    {{!-- Details Tab --}}
    <div class="tab details" data-group="primary" data-tab="details">
      <h3 class="form-header">{{ localize 'WonderSystem.SpellDetails' }}</h3>

      {{!-- Spell Level --}}
      <div class="form-group">
        <label>{{ localize 'WonderSystem.SpellLevel' }}</label>
        <select name="data.level" data-dtype="Number">
          {{#select data.data.level}}
            {{#each config.spellLevels as |name lvl|}}
              <option value="{{lvl}}">{{name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Spell School --}}
      <div class="form-group">
        <label>{{ localize "WonderSystem.SpellSchool" }}</label>
        <select name="data.school">
          {{#select data.data.school}}
            {{#each config.spellSchools as |name sch|}}
              <option value="{{sch}}">{{name}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

      {{!-- Spell Components --}}
      <div class="spell-components form-group stacked">
        <label>{{ localize "WonderSystem.SpellComponents" }}</label>
        {{#each config.spellComponents as |component key|}}
          <label class="checkbox">
            <input
              type="checkbox"
              {{#if (eq component 'Verbal')}}
                name="data.components.vocal"
                {{checked (lookup ../data.data.components 'vocal')}}
              {{else}}
                name="data.components.{{lowercase component}}"
                {{checked (lookup ../data.data.components (lowercase component))}}
              {{/if}}
            >
            {{component}}
          </label>
        {{/each}}
      </div>

      {{!-- Material Components --}}
      <div class="form-group stacked">
        <label>{{ localize "WonderSystem.SpellMaterials" }}</label>
        <input class="materials" type="text" name="data.materials.value" value="{{data.data.materials.value}}"/>
        {{#if data.data.materials.value}}
          <div class="spell-materials flexrow">
            <label>{{ localize "WonderSystem.Supply" }}</label>
            <input type="text" name="data.materials.supply" value="{{data.data.materials.supply}}" data-dtype="Number" Placeholder="0"/>

            <label>{{ localize "WonderSystem.CostGP" }}</label>
            <input type="text" name="data.materials.cost" value="{{data.data.materials.cost}}" data-dtype="Number" Placeholder="-"/>
            
            <label>{{ localize "WonderSystem.Consumed" }}</label>
            <input type="checkbox" name="data.materials.consumed" {{checked data.data.materials.consumed}}/>
          </div>
        {{/if}}
      </div>

      {{!-- Preparation Mode --}}
      <div class="form-group input-select">
        <label>{{ localize "WonderSystem.SpellPreparationMode" }}</label>
        <div class="form-fields">
          <label class="checkbox prepared">
            {{ localize "WonderSystem.SpellPrepared" }} <input type="checkbox" name="data.preparation.prepared" {{checked data.data.preparation.prepared}}/>
          </label>
          <select name="data.preparation.mode">
            {{ selectOptions config.spellPreparationModes selected=data.data.preparation.mode }}
          </select>
        </div>
      </div>

      <h3 class="form-header">{{ localize "WonderSystem.SpellCastingHeader" }}</h3>

      {{!-- Item Activation Template --}}
      {{> "systems/wondershade/templates/sheets/items/partials/item-activation.hbs"}}

      <h3 class="form-header">{{ localize "WonderSystem.SpellEffects" }}</h3>

      {{!-- Item Action Template --}}
      {{> "systems/wondershade/templates/sheets/items/partials/item-action.hbs"}}

      {{!-- Spell Level Scaling --}}
      <div class="form-group">
        <label>{{ localize "WonderSystem.LevelScaling" }}</label>
        <div class="form-fields">
          <select name="data.scaling.mode">
            {{#select data.data.scaling.mode}}
              {{#each config.spellScalingModes as |name key|}}
                <option value="{{key}}">{{name}}</option>
              {{/each}}
            {{/select}}
          </select>
          <input type="text" name="data.scaling.formula" value="{{data.data.scaling.formula}}" placeholder="{{ localize 'WonderSystem.ScalingFormula' }}"/>
        </div>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/wondershade/templates/sheets/actors/partials/active-effects.hbs"}}
    </div>
  </section>
</form>
