<div class="tab items" data-tab="inventory" data-group="primary-tabs">
  <h1 class="skillHeading">{{ localize "WonderSystem.Inventory" }}</h1>
  <div class="currencies">
    <!-- Currency: Copper -->
    <div class="currency">
      <label for="data.currency.cp" class="label">
        {{ localize "WonderSystem.CurrencyCP" }}
      </label>
      <input
        type="text"
        class="input"
        name="data.currency.cp"
        value="{{ actorData.currency.cp }}"
      >
    </div>
    <!-- /Currency: Copper -->

    <!-- Currency: Silver -->
    <div class="currency">
      <label for="data.currency.sp" class="label">
        {{ localize "WonderSystem.CurrencySP" }}
      </label>
      <input
        type="text"
        class="input"
        name="data.currency.sp"
        value="{{ actorData.currency.sp }}"
      >
    </div>
    <!-- /Currency: Silver -->

    <!-- Currency: Gold -->
    <div class="currency">
      <label for="data.currency.gp" class="label">
        {{ localize "WonderSystem.CurrencyGP" }}
      </label>
      <input
        type="text"
        class="input"
        name="data.currency.gp"
        value="{{ actorData.currency.gp }}"
      >
    </div>
    <!-- /Currency: Gold -->

    <!-- Currency: Platinum -->
    <div class="currency">
      <label for="data.currency.pp" class="label">
        {{ localize "WonderSystem.CurrencyPP" }}
      </label>
      <input
        type="text"
        class="input"
        name="data.currency.pp"
        value="{{ actorData.currency.pp }}"
      >
    </div>
    <!-- /Currency: Platinum -->

    <!-- Currency: Drops -->
    <div class="currency">
      <label for="data.currency.drops" class="label">
        {{ localize "WonderSystem.CurrencyDrops" }}
      </label>
      <input
        type="text"
        class="input"
        name="data.currency.drops"
        value="{{ actorData.currency.drops }}"
      >
    </div>
    <!-- /Currency: Drops -->
  </div>
  <hr />
  {{> "systems/wondershade/templates/partials/layout/inventory/weapons.hbs"}}
  {{> "systems/wondershade/templates/partials/layout/inventory/equipment.hbs"}}
</div>
