<div class="items">
  <h1 class="skillHeading">{{ localize "WonderSystem.Inventory" }}</h1>
  <div class="flex-row">
    <!-- Currency: Copper -->
    <div class="column removeSides" style="display: flex; align-items: center; flex-direction: column">
      <label for="data.currency.cp" class="label" style="width: auto">
        {{ localize "WonderSystem.CurrencyCP" }}
      </label>
      <input
        type="text"
        class="input shade-input fit-width font-2"
        name="data.currency.cp"
        value="{{ actorData.currency.cp }}"
        style="width: 8vw"
      >
    </div>
    <!-- /Currency: Copper -->

    <!-- Currency: Silver -->
    <div class="column removeSides" style="display: flex; align-items: center; flex-direction: column">
      <label for="data.currency.sp" class="label" style="width: auto">
        {{ localize "WonderSystem.CurrencySP" }}
      </label>
      <input
        type="text"
        class="input shade-input fit-width font-2"
        name="data.currency.sp"
        value="{{ actorData.currency.sp }}"
        style="width: 8vw"
      >
    </div>
    <!-- /Currency: Silver -->

    <!-- Currency: Gold -->
    <div class="column removeSides" style="display: flex; align-items: center; flex-direction: column">
      <label for="data.currency.gp" class="label" style="width: auto">
        {{ localize "WonderSystem.CurrencyGP" }}
      </label>
      <input
        type="text"
        class="input shade-input fit-width font-2"
        name="data.currency.gp"
        value="{{ actorData.currency.gp }}"
        style="width: 8vw"
      >
    </div>
    <!-- /Currency: Gold -->

    <!-- Currency: Platinum -->
    <div class="column removeSides" style="display: flex; align-items: center; flex-direction: column">
      <label for="data.currency.pp" class="label" style="width: auto">
        {{ localize "WonderSystem.CurrencyPP" }}
      </label>
      <input
        type="text"
        class="input shade-input fit-width font-2"
        name="data.currency.pp"
        value="{{ actorData.currency.pp }}"
        style="width: 8vw"
      >
    </div>
    <!-- /Currency: Platinum -->

    <!-- Currency: Drops -->
    <div class="column removeSides" style="display: flex; align-items: center; flex-direction: column">
      <label for="data.currency.drops" class="label" style="width: auto">
        {{ localize "WonderSystem.CurrencyDrops" }}
      </label>
      <input
        type="text"
        class="input shade-input fit-width font-2"
        name="data.currency.drops"
        value="{{ actorData.currency.drops }}"
        style="width: 8vw"
      >
    </div>
    <!-- /Currency: Drops -->
  </div>
  <hr style="border-color: #887389;">
  <ul class="repeating_items">
    {{#each weapons as |weapon wID|}}
      <li class="item flex-row" data-item-id="{{weapon._id}}">
        <div class="flex-col item-img">
          <a class="rollable" data-roll-type="item">
            <img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"/>
          </a>
        </div>
        <div class="flex-col item-description">
          <h4>{{weapon.name}}</h4>
        </div>
        <div class="flex-col">
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" title="Delete Item">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
      </li>
    {{/each}}
  </fieldset>
    
</div>
