{{!-- {{log 'journal:data' data}} --}}
<div class="tab journal" data-tab="journal" data-group="primary-tabs">
  <h1 class="skillHeading">{{ localize "WonderSystem.Journal" }}</h1>
  <div class="flex-col flex">
    <header class="sheet-header flex-row">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </header>
    <h3 class="journalHeader">
      {{ localize "WonderSystem.Bonus" }}
      </h3>
      <fieldset></fieldset>
      <hr style="border-color: #887389;" />
      <div class="flex-col flex">
        <h3 class="journalHeader">
          {{ localize "WonderSystem.Notes" }}
          </h3>
          <fieldset></fieldset>
          </div>
        </h3>
      </div>
  </div>
</div>
