<div class="tab magick" data-tab="magick" data-group="primary-tabs">
  <h1 class="skillHeading"> {{ localize "WonderSystem.Magick" }} </h1>
  <div class="magick-controls" data-group="magick-tabs">
    <a data-tab="wonder" data-group="magick-tabs">{{ localize "WonderSystem.Wonder" }}</a>
    <a data-tab="finesse-and-class" data-group="magick-tabs">{{ localize "WonderSystem.FinesseAndClass" }}</a>
    <a data-tab="cantrips" data-group="magick-tabs">{{ localize "WonderSystem.Cantrips" }}</a>
    <a data-tab="first" data-group="magick-tabs">{{ localize "WonderSystem.FirstNum" }}</a>
    <a data-tab="second" data-group="magick-tabs">{{ localize "WonderSystem.SecondNum" }}</a>
    <a data-tab="third" data-group="magick-tabs">{{ localize "WonderSystem.ThirdNum" }}</a>
    <a data-tab="fourth" data-group="magick-tabs">{{ localize "WonderSystem.FourthNum" }}</a>
    <a data-tab="fifth" data-group="magick-tabs">{{ localize "WonderSystem.FifthNum" }}</a>
    <a data-tab="sixth" data-group="magick-tabs">{{ localize "WonderSystem.SixthNum" }}</a>
    <a data-tab="seventh" data-group="magick-tabs">{{ localize "WonderSystem.SeventhNum" }}</a>
    <a data-tab="eighth" data-group="magick-tabs">{{ localize "WonderSystem.EighthNum" }}</a>
    <a data-tab="ninth" data-group="magick-tabs">{{ localize "WonderSystem.NinthNum" }}</a>
    <a data-tab="all" data-group="magick-tabs">{{ localize "WonderSystem.All" }}</a>
  </div>
  <div class="magick-tabs">
    {{#each config.html.spellSections as |spellSection ID|}}
      <div class="tab {{spellSection.keyVal}}" data-tab="{{spellSection.keyVal}}" data-group="magick-tabs">
        {{!-- Only includes spell slots on spell categories that have them --}}
        {{#unless (includes ../config.html.spellLevelsWithoutSlots spellSection.keyVal)}}
          <div class="flex-row spellSlotRow">
            <div class="flex-col flex spellSlotLabel">
              <span>{{spellSection.name}} Spell Slots</span>
            </div>
            {{#unless (eq spellSection.keyVal 'all')}}
              {{#each (spellSlots ../actorData.spells spellSection.spellSlot) as |isAvailable SID|}}
                <div class="flex-col flex smallCol">
                  <label class="checkmark mb0 flex smallCheck">
                    <input
                    type="checkbox"
                    {{#if isAvailable}} checked="checked" {{/if}}
                    >
                    <span class="smallDot tearShape fairyFire" data-id="{{spellSection.spellSlot}}"></span>
                  </label>
                </div>
              {{/each}}
          {{/unless}}
          </div>
        {{/unless}}
      </div>
    {{/each}}
  </div>
</div>
