<div class="tab skills" data-tab="skills" data-group="primary-tabs">
  <h1 class="skillHeading">Skills</h1>
  <div class="skillSection">
    {{#each config.html.skills as |section|}}
    {{!-- Left Column --}}
      {{#if (eq @key 'left')}}
        <div class="skillCol">
          {{#each section as |skill|}}
            <div class="skillDisplay">
              <label class="checkmark">
                <input
                  type="checkbox"
                  name="data.skills.{{skill.keyVal}}.checked"
                  {{#if (skillChecked ../../actorData skill.keyVal false)}}checked{{/if}}
                >
                <span></span>
              </label>
              <div class="skillLabelCol">
                <label class="clickable-label">
                  <strong>{{skill.name}}</strong>
                </label>
                <label for="data.skills.{{skill.keyVal}}.value" class="pr0 full-height">
                  <input
                    type="number"
                    name="data.skills.{{skill.keyVal}}.value"
                    value="{{skillValue ../../actorData skill.keyVal false}}"
                  />
                </label>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{!-- /Left Column --}}

      {{!-- Middle Column --}}
      {{#if (eq @key 'middle')}}
        <div class="skillCol">
          {{#each section as |skill|}}
            <div class="skillDisplay">
              <label class="checkmark">
                <input
                  type="checkbox"
                  name="data.skills.{{skill.keyVal}}.checked"
                  {{#if (skillChecked ../../actorData skill.keyVal false)}}checked{{/if}}
                >
                <span></span>
              </label>
              <div class="skillLabelCol">
                <label class="clickable-label">
                  <strong>{{skill.name}}</strong>
                </label>
                <label for="data.skills.{{skill.keyVal}}.value" class="pr0 full-height">
                  <input
                    type="number"
                    name="data.skills.{{skill.keyVal}}.value"
                    value="{{skillValue ../../actorData skill.keyVal false}}"
                  />
                </label>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{!-- /Middle Column --}}

      {{!-- Right Column --}}
      {{#if (eq @key 'right')}}
        <div class="skillCol">
          {{#each section as |skill|}}
            <div class="skillDisplay">
              <label class="checkmark">
                <input
                  type="checkbox"
                  name="data.skills.{{skill.keyVal}}.checked"
                  {{#if (skillChecked ../../actorData skill.keyVal false)}}checked{{/if}}
                >
                <span></span>
              </label>
              <div class="skillLabelCol">
                <label class="clickable-label">
                  <strong>{{skill.name}}</strong>
                </label>
                <label for="data.skills.{{skill.keyVal}}.value" class="pr0 full-height">
                  <input
                    type="number"
                    name="data.skills.{{skill.keyVal}}.value"
                    value="{{skillValue ../../actorData skill.keyVal false}}"
                  />
                </label>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
      {{!-- /Right Column --}}
    {{/each}}
  </div>
</div>
