<div class="skill-roll">
  <div class="flex-row">
    <div class="flex-col item-img">
      <img src="{{item.img}}" alt="">
    </div>
    <div class="flex-col name-col" style="margin-bottom: 6px">
      <h1 style="margin-bottom: 0">{{item.name}}</h1>
      <h2 style="margin-top: 0">{{actor.name}}</h2>
    </div>
  </div>

  {{#if roll.success}}
    <div class="success-banner">
      <span>{{roll.outcome}}</span>
    </div>
  {{else}}
    <div class="failure-banner {{#if roll.hard}}hard{{/if}} {{#if roll.crit}}crit{{/if}}">
      <span>{{roll.outcome}}</span>
    </div>
  {{/if}}
  <div class="roll-results">
    <div class="roll-line">
      {{#unless (eq willpower 0)}}
        <span class="roll-result" title="Roll Result">{{roll.result}}</span>
        <span class="roll-will" title="Willpower">({{formatDifficultyText willpower}}) = </span>
      {{/unless}}
      <span class="roll-computed">{{roll.computed}}</span>
    </div>
    <span class="roll-line vs"> VS </span>
    <div class="roll-line">
      {{#unless (eq difficulty 0)}}
        <span class="roll-skill" title="{{item.label}}">{{item.value}}</span>
        <span class="roll-difficulty" title="Difficulty">({{formatDifficultyText difficulty}}) = </span>
      {{/unless}}
      <span class="roll-success">{{condition.success}}</span>
    </div>
  </div>

  {{#if item.data.description.value}}
    <div class="flex-col {{#if roll.success}}success-description{{else}}failure-description{{/if}}">
      {{{item.data.description.value}}}
    </div>
  {{/if}}

  {{#if roll.success}}
  <div class="flex-row damage">
    {{#each item.data.damage.parts as |damageDesc dID|}}
      <span>[[{{damageDesc.[0]}}]] {{damageDesc.[1]}} damage</span>
    {{/each}}
  </div>
  {{/if}}
</div>

{{log '[chatTemplate:spell] -> this' this}}
