<div class="item-section">
  <div class="collapsible">
    <span>{{ localize "WonderSystem.ItemTypeWeaponPl" }}</span>
    <div>
      <a title="Add Item" class="item-control add-item" data-item-type="weapon">
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <ul class="collapsible-content">
    {{#if (hasSome weapons)}}
      {{#each weapons as |weapon wID|}}
        <li data-item-id="{{weapon._id}}" data-item-stat="str" class="item">
          <div class="img-col">
            <a class="rollable" data-roll-type="item">
              <img src="{{weapon.img}}" title="{{weapon.name}}" width="24" height="24"/>
            </a>
          </div>
          <div class="desc-col">
            <h4>{{weapon.name}}</h4>
          </div>
          <div class="controls-col">
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </div>
        </li>
      {{/each}}
    {{else}}
      <div class="flex-col">
        <span>You have no weapons</span>
        <small class="italic">Uh Oh..</small>
      </div>
    {{/if}}
  </ul>
</div>
