<div class="flex-section space-evenly">
  <div class="flex-row">
    <!-- Name -->
    <div class="form">
      <label for="name" class="label">
        {{ localize 'WonderSystem.Name' }}
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{ localize 'WonderSystem.name' }}"
          class="input"
        />
      </label>
    </div>
    <!-- /Name -->

    <!-- Level -->
    <div class="form w-30 center-col">
      <label for="data.attributes.level.value" class="label center-col">
        {{ localize "WonderSystem.Level" }}
        <input
          name="data.attributes.level.value"
          value="{{actorData.attributes.level.value}}"
          type="number"
          class="input mini-number center-txt"
        >
      </label>
    </div>
    <!--- /Level -->
  </div>
  
  <div class="flex-row">
    <!--- Profession -->
      <div class="form">
        <label for="data.details.profession" class="label">
          {{ localize "WonderSystem.Profession" }}
          <input
            name="data.details.profession"
            value="{{actorData.details.profession}}"
            type="text"
            class="input"
            placeholder="{{ localize "WonderSystem.Profession" }}"
          >
        </label>
      </div>
    <!--- /Profession -->

    <!--- Age -->
    <div class="form w-30">
      <label for="data.details.age.value" class="label center-col">
        {{ localize "WonderSystem.Age" }}
        <input
          name="data.details.age.value"
          value="{{actorData.details.age.value}}"
          type="number"
          class="input mini-number center-txt"
        >
      </label>
    </div>
    <!--- /Age -->
  </div>
</div>
