<div class="section column pt0 even-spaced-col">
  <div class="flex-row">
    <div class="form">
      <label for="name" class="label clickable-label">
        {{ localize 'WonderSystem.Name' }}
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="{{ localize 'WonderSystem.name' }}"
          class="input"
        />
      </label>
    </div>
    <div class="form">
      <label for="data.attributes.level.value" class="label clickable-label">
        {{ localize "WonderSystem.Level" }}
        <input
          name="data.attributes.level.value"
          value="{{actorData.attributes.level.value}}"
          type="number"
          class="input mini-number"
        >
      </label>
    </div>
  </div>
  <div class="flex-row">
    <div class="form">
      <label for="data.details.age.value" class="label clickable-label">
        {{ localize "WonderSystem.Age" }}
        <input
          name="data.details.age.value"
          value="{{actorData.details.age.value}}"
          type="number"
          class="input mini-number"
          style="margin-right: 0.6rem;"
        >
      </label>
    </div>
    <div class="form">
      <div class="form fit-size">
        <label for="data.details.profession" class="label clickable-label">
          {{ localize "WonderSystem.Profession" }}
          <input
            name="data.details.profession"
            value="{{actorData.details.profession}}"
            type="text"
            class="input min-input"
            placeholder="{{ localize "WonderSystem.Profession" }}"
            style="font-size: 2.2rem"
          >
        </label>
      </div>
    </div>
  </div>
</div>
