<div class="column" style="margin: 0; padding: 5px 0;">
  <div class="flex-row">
    <!-- Force: HP -->
    <div class="flex-section thin center fit-nice">
      <label for="data.attributes.hp.value" class="force-label">
        <div class="flex-row align-center">
          <span class="doubleLabel"> {{ localize 'WonderSystem.Health'}} </span>
        </div>
        <div class="flex-row align-center">
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.hp.value"
            value="{{actorData.attributes.hp.value}}"
          >
          <span class="vs">/</span>
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.hp.max"
            value="{{actorData.attributes.hp.max}}"
          >
        </div>
      </label>
    </div>
    <!-- /Force: HP -->

    <!-- Force: Sanity -->
    <div class="flex-section thin center fit-nice">
      <label for="data.attributes.sanity.value" class="force-label">
        <div class="flex-row align-center rollable" data-roll-force="sanity" data-label="Sanity">
          <span class="doubleLabel"> {{ localize 'WonderSystem.Sanity'}} </span>
        </div>
        <div class="flex-row align-center">
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.sanity.value"
            value="{{actorData.attributes.sanity.value}}"
          >
          <span class="vs">/</span>
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.sanity.max"
            value="{{actorData.attributes.sanity.max}}"
          >
        </div>
      </label>
    </div>
    <!-- /Force: Sanity -->

    <!-- Force: Willpower -->
    <div class="flex-section thin center fit-nice">
      <div class="flex-row justify-evenly">
        <label for="data.attributes.willpower" class="force-label">
          <div class="flex-row align-center">
            <span class="doubleLabel">{{ localize 'WonderSystem.Willpower'}}</span>
          </div>
          <div class="flex-row align-center">
            <select
              name="data.attributes.willpower"
              class="dark-drop"
              value="{{actorData.attributes.willpower}}"
            >
              {{selectOptions config.html.willpower selected=actorData.attributes.willpower nameAttr="value" labelAttr="text"}}
            </select>
          </div>
        </label>
      </div>
    </div>
    <!-- /Force: Willpower -->

    <!-- Force: Fortitude -->
    <div class="flex-section thin center fit-nice">
      <label for="data.attributes.fortitude.value" class="force-label">
        <div class="flex-row align-center">
          <span class="doubleLabel"> {{ localize 'WonderSystem.Fortitude'}} </span>
        </div>
        <div class="flex-row align-center">
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.fortitude.value"
            value="{{actorData.attributes.fortitude.value}}"
          >
          <span class="vs">/</span>
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.fortitude.max"
            value="{{actorData.attributes.fortitude.max}}"
          >
        </div>
      </label>
    </div>
    <!-- /Force: Fortitude -->

    <!-- Force: Finesse -->
    <div class="flex-section thin center fit-nice">
      <label for="data.attributes.finesse.value" class="force-label">
        <div class="flex-row align-center">
          <span class="doubleLabel"> {{ localize 'WonderSystem.WeaponPropertiesFin'}} </span>
        </div>
        <div class="flex-row align-center">
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.finesse.value"
            value="{{actorData.attributes.finesse.value}}"
          >
          <span class="vs">/</span>
          <input
            type="number"
            class="input mini-number center-txt"
            name="data.attributes.finesse.max"
            value="{{actorData.attributes.finesse.max}}"
          >
        </div>
      </label>
    </div>
    <!-- /Force: Finesse -->
  </div>
</div>
