<div class="stat-blocks column">
  <div class="flex-row justify-evenly">
    {{#each actorData.abilities}}
      {{#if (lte this.menuOrder 3)}}
        <div class="stat-block">
          <label for="data.abilities.{{@key}}.value" class="label flex-col align-center clickable-label">
            <div class="flex-row align-center justify-center">
              <span>{{dynamicLocalization ../config.local.attr @key}}</span>
              <button class="skillButton"></button>
            </div>
            <input
              name="data.abilities.{{@key}}.value"
              type="text"
              class="input mini-number center-txt"
              value="{{this.value}}"
            >
          </label>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="flex-row justify-evenly">
    {{#each actorData.abilities}}
      {{#if (gte this.menuOrder 4)}}
        <div class="stat-block">
          <label for="data.abilities.{{@key}}.value" class="label flex-col align-center clickable-label">
            <div class="flex-row align-center justify-center">
              <span>{{dynamicLocalization ../config.local.attr @key}}</span>
              <button class="skillButton"></button>
            </div>
            <input
              name="data.abilities.{{@key}}.value"
              type="text"
              class="input mini-number center-txt"
              value="{{this.value}}"
            >
          </label>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
