<div class="stat-blocks column">
  <div class="flex-row justify-evenly">
    {{#each actorData.abilities}}
      {{#if (lte this.menuOrder 3)}}
        <div class="stat-block">
          <label for="data.abilities.{{@key}}.value" class="label flex-col align-center">
            <div class="flex-row align-center justify-center rollable" data-roll-ability="{{@key}}" data-label="{{lookup ../config.attr @key}}">
              <span>{{lookup ../config.attr @key}}</span>
            </div>
            <input
              name="data.abilities.{{@key}}.value"
              type="number"
              class="input mini-number center-txt"
              value="{{this.value}}"
              data-dtype="number"
            >
          </label>
        </div>
      {{/if}}
    {{/each}}
  </div>
  <div class="flex-row justify-evenly">
    {{#each actorData.abilities}}
      {{#if (gte this.menuOrder 4)}}
        <div class="stat-block">
          <label for="data.abilities.{{@key}}.value" class="label flex-col align-center">
            <div
              class="flex-row align-center justify-center {{#unless (eq @key 'iLuck')}}rollable{{/unless}}"
              {{#unless (eq @key 'iLuck')}}data-roll-ability="{{@key}}" data-label="{{lookup ../config.attr @key}}"{{/unless}}
            >
              <span>{{lookup ../config.attr @key}}</span>
            </div>
            <input
              name="data.abilities.{{@key}}.value"
              type="number"
              class="input mini-number center-txt"
              value="{{this.value}}"
            >
          </label>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
