<div class="tab-controls" data-group="primary-tabs">
  <a class="tab-btn" data-tab="skills"> {{ localize "WonderSystem.Skills" }} </a>
  {{!-- <a class="tab-btn" data-tab="combat"> {{ localize "WonderSystem.Combat" }} </a> --}}
  <a class="tab-btn" data-tab="magick"> {{ localize "WonderSystem.Magick" }} </a>
  <a class="tab-btn" data-tab="inventory"> {{ localize "WonderSystem.Inventory" }} </a>
  <a class="tab-btn" data-tab="journal"> {{ localize "WonderSystem.Journal" }} </a>
</div>
