<div class="tab-controls" data-group="primary-tabs">
  <!-- Tab: Skills -->
  <a class="tab-btn" data-tab="skills"> {{ localize "WonderSystem.Skills" }} </a>
  <!-- /Tab: Skills -->

  <!-- Tab: Combat -->
  <a class="tab-btn" data-tab="combat"> {{ localize "WonderSystem.Combat" }} </a>
  <!-- /Tab: Combat -->

  <!-- Tab: Magick -->
  <a class="tab-btn" data-tab="magick"> {{ localize "WonderSystem.Magick" }} </a>
  <!-- /Tab: Magick -->

  <!-- Tab: Inventory -->
  <a class="tab-btn" data-tab="inventory"> {{ localize "WonderSystem.Inventory" }} </a>
  <!-- /Tab: Inventory -->

  <!-- Tab: Journal -->
  <a class="tab-btn" data-tab="journal"> {{ localize "WonderSystem.Journal" }} </a>
  <!-- /Tab: Journal -->
</div>
