<div class="flex-row align-center justify-evenly mt5 negativeBottomMargin">
  <!-- Tab: Skills -->
  <button class="tabButton" data-group="tab-button" data-id="skills-tab">
    {{ localize "WonderSystem.Skills" }}
  </button>
  <!-- /Tab: Skills -->

  <!-- Tab: Combat -->
  <button class="tabButton" data-group="tab-button" data-id="combat-tab">
    {{ localize "WonderSystem.Combat" }}
  </button>
  <!-- /Tab: Combat -->

  <!-- Tab: Magick -->
  <button class="tabButton" data-group="tab-button" data-id="magick-tab">
    {{ localize "WonderSystem.Magick" }}
  </button>
  <!-- /Tab: Magick -->

  <!-- Tab: Inventory -->
  <button class="tabButton" data-group="tab-button" data-id="inventory-tab">
    {{ localize "WonderSystem.Inventory" }}
  </button>
  <!-- /Tab: Inventory -->

  <!-- Tab: Journal -->
  <button class="tabButton" data-group="tab-button" data-id="journal-tab">
    {{ localize "WonderSystem.Journal" }}
  </button>
  <!-- /Tab: Journal -->
</div>
